.Signup .title-bar{
  width: 100%;
  border-bottom: solid 2px #eaf1f7;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
  padding: 15px 0px;
}

.Signup .title-bar i{
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.Signup .title-bar h2{
  margin: 0px;
}
