.TopDrawer{
  background: #6e98ba;
  position: absolute;
  transition: 300ms;
  top: -100vh;
  box-shadow: 0px 0px 15px #999;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: solid 5px #6990af;
  z-index: 100;
}

.TopDrawer.active{
  top: 0;
}
